.container {
  max-width: 900px;
  width: 100%;
  margin: 0 auto;
  padding: 20px 10px;
}

.d-flex {
  display: flex;
  justify-content: space-between;
}

.points {
  flex: 1 0 auto;
  width: 30%;
  margin-right: 20px;
}

.points__input {
  width: 100%;
  box-sizing: border-box;
  border-radius: 5px;
  padding: 5px 10px;
  margin-bottom: 20px;
  margin-right: 20px;
}

.map-container {
  flex: 1 1 auto;
  width: 70%;
  padding: 0 20px;
}

.point {
  display: flex;
  justify-content: space-between;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 10px;
  padding: 5px 10px;
  border-radius: 5px;
  align-items: center;
}
.point__del {
  cursor: pointer;
  display: block;
  font-size: 25px;
}

.placeholder {
  width: 100%;
  padding: 12px;
  border-radius: 5px;
  margin-bottom: 10px;
  box-sizing: border-box;
  background-color: yellow;
}

@media (max-width: 690px) {
  .d-flex {
    flex-wrap: wrap;
  }
  .points {
    margin-bottom: 10px;
  }
  .map-container {
    width: 100%;
  }
}
